<section class="view" data-view="gateway" hidden>
  <header class="page-head">
    <p class="brand">WattCycle</p>
    <hr class="brand-rule" />
    <p class="page-title">Gateway</p>
  </header>
  <ul class="status-list">
    <li>Wi-Fi: <span id="wifi">--</span></li>
    <li>BLE: <span id="ble">--</span></li>
    <li>BMS MAC: <span id="bleAddress">--</span></li>
    <li>Solar ESP-NOW: <span id="solarLink">--</span></li>
    <li>XT369P SPP: <span id="solarSppGw">--</span></li>
    <li>Solar target: <span id="solarTarget">--</span></li>
    <li>Last error: <span id="error">none</span></li>
    <li>Firmware: <span id="fw">--</span></li>
    <li>Manufacturer: <span id="mfr">--</span></li>
    <li>Serial: <span id="sn">--</span></li>
  </ul>
</section>
