<section class="view" data-view="warnings" hidden>
  <h2>Protections &amp; faults</h2>
  <ul class="status-list">
    <li>Protection active: <span id="protectionFlag">--</span></li>
    <li>Fault active: <span id="faultFlag">--</span></li>
    <li>Status reg 1: <code id="status1">--</code></li>
    <li>Status reg 2: <code id="status2">--</code></li>
    <li>Status reg 5: <code id="status5">--</code></li>
    <li>Warning reg 1: <code id="warn1">--</code></li>
    <li>Warning reg 2: <code id="warn2">--</code></li>
  </ul>
</section>
